name: Build
on:
  - push
jobs:
  runs-on: ubuntu-latest
  strategy:
    matrix:
      node-version:
        - 8.x
        - 10.x
        - 12.x
        - 14.x
  steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: npm ci
      env:
        CI: true
    - name: Build project
      run: npm run build
